body {
	background-color: lightgrey;
}
h1 {
	color: blue;
}
#published {
	font-weight: bold;
	font-size: 1.5em;
}
span {
	font-weight: bold;
}
p.italic {
	font-style: italic;
}
//mark a descendent

//add a child
