vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Oct 2006 06:42:08 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|OLDMOUSE\\Study
vti_modifiedby:SR|OLDMOUSE\\Study
vti_timecreated:TR|12 Oct 2006 06:42:08 -0000
vti_cacheddtm:TX|12 Oct 2006 06:42:08 -0000
vti_filesize:IR|5173
vti_cachedlinkinfo:VX|S|images/backhome_new.jpg S|/images/footer_bg.gif
vti_cachedsvcrellinks:VX|NSUS|MotorMindInc/Pictures/default.asp_files/images/backhome_new.jpg NSUS|file:///images/footer_bg.gif
vti_lineageid:SR|{7252500E-D122-4D3E-B070-2807397CAC2A}
vti_backlinkinfo:VX|MotorMindInc/Pictures/default.asp.htm
