@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Built2GSD  <br />
    Kennewick, WA <br />
    <abbr title="Phone">P:</abbr>
    509.572.0994
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ken_xwagner@hotmail.com">ken_xwagner@hotmail.com</a><br />

</address>