@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KWBuilt</h1>
    <p class="lead">This is the prototype for KW Built using ASP.NET MVC</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why it's here</h2>
        <p>
            In order to become better at application development, one must follow through with publication of an application in order to gain a better understanding of the technology and to provide evidence that they can indeed code.
        </p>
        <p><a class="btn btn-default" href="https://www.workitdaily.com/creating-online-portfolio/">Benefits Of Creating An Online Portfolio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Things to show</h2>
        <p>Providing professional experience and work skills that are relevant to the job you are applying for can be difficult because possible key insights are not easy to post in resumes and cover letters.</p>
        <p><a class="btn btn-default" href="https://www.smashingmagazine.com/2009/02/10-steps-to-the-perfect-portfolio-website/">10 Steps To The Perfect Web Design Portfolio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Things to hide</h2>
        <p>If it's a background check, you're screwed. If it's hiding information that brings out a bias in the hiring process, you may need to do just that until you can prove yourself to be a rockstar. An example is someone who worked in retail before breaking into the tech sector. The number of times I have heard that it hurts you, so remove it, has is beyond my recall. Does working with customers in a retail setting help you? Yes! Will you be looked down upon by some for having a retail job? Yes! Being a successful communicator is in demand, but navigating the bias is difficult. </p>
        <p><a class="btn btn-default" href="http://www.businessinsider.com/unconscious-biases-in-hiring-decisions-2015-7">3 unconscious biases that affect whether you get hired &raquo;</a></p>
    </div>
</div>