<h1>Welcome to the world, ASP.NET Core!</h1>
<p>Why yes, it is a single-page application, built with:</p>
<ul>
    <li>ASP.NET Core and C# </li>
    <li>Angular 2 and TypeScript</li>
    <li>Webpack </li>
    <li>Bootstrap</li>
</ul>
<p>What else is in there?</p>
<ul>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Something needs to go in here to show Angular</strong></li>
    <li><strong>Server-side prerendering</strong>. Angular 2 is prerendered on the server. What you get to see is the HTML for the client-side.</li>
    <li><strong>Webpack dev middleware</strong>. In development mode, there's no need to run the <code>webpack</code> build tool. Your client-side resources are dynamically built on demand. Updates are available as soon as you modify any file.</li>
    <li><strong>Webpack</strong> is a great deal of help</li>
    
    <li><strong>Hot module</strong> saves me time with waiting for changes. The new instance gets injected quickly.</li>
    
</ul>
