@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>One of the biggest hurdles to getting a career started in a field you enjoy, is getting a job. Many want exerience in field, but they do not explain how to accomplish this. This site does.</p>
