@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    Kennewick, WA 99337<br />
    <abbr title="Phone">P: 509.547.0994</abbr>
   
</address>

<div>
    <h1>Github:   <a href="https://github.com/kenxwagner">kenxwagner</a><br />
    LinkedIn: <a href="https://www.linkedin.com/in/4kenwagner">kenxwagner</a></h1>
</div>