li {list-style-type: none;
font-size: 16pt;
}
.mail{ 
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
width: 400px;
background:;
border:;
}
//
body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 16px;
}