
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 14 (filtered)">
    <title>Ken Wagner</title>
    <style>
<!--
 /* Font Definitions */

 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h1
	{margin:0in;
	margin-bottom:.0001pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h2
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
h3
	{margin:0in;
	margin-bottom:.0001pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h4
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h5
	{margin:0in;
	margin-bottom:.0001pt;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Times New Roman","serif";}
h6
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.25in;
	margin-bottom:.0001pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-link:"Footer Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{mso-style-link:"Body Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBodyTextIndent2, li.MsoBodyTextIndent2, div.MsoBodyTextIndent2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	text-align:justify;
	line-height:12.0pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}

p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}

.MsoChpDefault
	{font-size:10.0pt;}
 /* Page Definitions */

div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
    </style>

</head>


<div class="body-content">
   

   

    <body lang=EN-US link=blue vlink=purple>

        <div class=WordSection1>

            <p class=MsoNormal align=center style='text-align:center'>
                <b>
                    <span style='font-size:16.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span>
                </b>
            </p>

            <p class=MsoNormal align=center style='text-align:center'>
                <b>
                    <span style='font-size:16.0pt;font-family:"Arial","sans-serif"'>Résumé of: Ken Wagner</span>
                </b>
            </p>

            <p class=MsoNormal align=center style='text-align:center'>
                <a href="http://www.github.com/kenxwagner">
                    <span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>www.github.com/kenxwagner</span>
                </a><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'></span>
            </p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>SUMMARY</span></b></p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText>
                <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Ken
                    is a Software Engineer whose career path at Cayuse Technologies has helped him
                    to become a versatile IT professional having worked in test, database
                    development, and even some Android development. Ken attributes his success by
                    his ability to apply problem solving to any code base. He’s well-spoken and
                    able to patiently communicate and work with everyone in technical,
                    non-technical, and creative teams.
                </span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText>
                <b>
                    <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                        TECHNICAL
                        SKILLS
                    </span>
                </b>
            </p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText>
                <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Languages:       
                    10 years: HTML &amp; CSS, 6 years: ASP.NET, JavaScript, JQuery, 5 years: C#,
                    C++, and XML,
                </span>
            </p>

            <p class=MsoBodyText>
                <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    2+ years: Android, Java, SQL, CSS3, and HTML5, 1 year: Python, Angular.js, and
                    Node.js
                </span>
            </p>

            <p class=MsoBodyText>
                <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    IDEs: 
                    Visual Studio, Android Studio, and Eclipse
                </span>
            </p>

            <p class=MsoBodyText>
                <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Source
                    Control:   GitHub, Bitbucket, Amazon Web Services
                </span>
            </p>

            <p class=MsoBodyText>
                <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    ERP
                    systems:     1 year SAP R/3 and 5+ years SAP Citrix         
                </span>
            </p>

            <p class=MsoBodyText>
                <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Command
                    Line:   Vim, Git Bash, and Cygwin
                </span>
            </p>

            <p class=MsoBodyText>
                <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    6 years of SDLC, 3+ years Software Testing, 3+ Agile, 2+ years Scrum and
                    Waterfall.
                </span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>            </span></p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText>
                <b>
                    <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                        PROFESSIONAL
                        HISTORY
                    </span>
                </b>
            </p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText>
                <b>
                    <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                        Cayuse
                        Technologies (Partnership with Accenture) – Pendleton, OR                             July
                        2015-Present
                    </span>
                </b>
            </p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText style='text-indent:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>
                            Software Developer, Cayuse Projects                                      
                            Dec 2015-Present
                        </span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Created
                    ASP.NET MVC 5 (Razor) with Bootstrap 3.0 web app and SQL DB.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Worked
                    with Amazon Web Services (AWS) for cloud computing and data mining project
                    using scripts with Linux servers and PostgreSQL.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Wrote
                    Node.js for API development for mobile dashboards.
                </span>
            </p>

            <p class=MsoBodyText style='text-indent:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='text-indent:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>
                            Software Developer, Client: T-Mobile-Analysts
                            Dev Team,                                        July 2015-Feb 2016
                        </span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Provided
                    Oracle SQL code, analysis, and data modeling for prepaid and postpaid data
                    migration.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Wrote
                    SQL queries - JSON output to analyze critical data vs requirements in prepaid
                    data migration.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Used
                    automated SQL queries for data models and workflow analysis of postpaid data.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in'>
                <span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>&nbsp;</span>
            </p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText>
                <b>
                    <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                        Web
                        App Tester, Utest.com                                                                                               June
                        2015-Sept 2015
                    </span>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Performed
                    sandbox testing on NBA.com web app and functional testing on BECU.org web App.
                </span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText>
                <b>
                    <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                        Cayuse
                        Technologies (Partnership with Accenture) – Pendleton, OR                                     May
                        2013-April 2015
                    </span>
                </b>
            </p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText style='text-indent:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>
                            Android Developer, Cayuse Project: Language
                            Android Application, Mar 2015-April 2015
                        </span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Reverse
                    engineered iOS application for rebuild for Android version and set up team for
                    implementation.
                </span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText style='margin-left:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>
                            Software Engineer, Client Project:
                            JPMC/Xign.net Order-To-Pay Web App, May 2013-Mar 2015
                        </span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Worked
                    multiple roles for large scale distributed applications in mission-critical
                    production environment.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Provided
                    customer options to view raw financial data in accordance with their business.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in'>
                <span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>&nbsp;</span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in'>
                <span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>&nbsp;</span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in'>
                <span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>&nbsp;</span>
            </p>

            <p class=MsoBodyText style='text-indent:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>
                            Test Manager, Client Project: Domestic
                            Client Exit of Order-To-Pay, Jan 2014-Mar 2015
                        </span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Implemented
                    full circle from analysis, communication of requirements, test management,
                    auditing and optimized 10-person test team to finish 30 days early.         
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Designed
                    financial data models for customers via requirements and direct contact based
                    on workflow.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Created
                    design requirements for critical automated Java testing tool using Test Driven
                    Development.
                </span>
            </p>

            <p class=MsoBodyText style='text-indent:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='text-indent:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>
                            Data Analyst, Client Project:
                            International Client exit of Order-To-Pay, Oct 2013-Mar 2014
                        </span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Performed
                    data analysis, workflow analysis, security testing, planning and writing test
                    cases.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Assisted
                    in the creation of test performance guidelines and test guidelines.
                </span>
            </p>

            <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText style='text-indent:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>
                            Lead Test Engineer/Data Analyst,
                            Client Project: OTP (Rel. 12.4.1), Sept 2013-Nov 2013
                        </span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Lead
                    role and analyst for Transparent Data Encryption (TDE) in sandbox and
                    production environments.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Wrote
                    test cases based on business requirements including financial and security
                    documentation.
                </span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText style='text-indent:.25in'>
                <b>
                    <i>
                        <span style='font-size:
11.0pt;font-family:"Arial","sans-serif"'>
                            Software Test Engineer, Client
                            Project: OTP (Rel. 12.3/12.4), May 2013-Feb 2014
                        </span>
                    </i>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Wrote
                    payment test code and performed functional testing of XML SOAP and Java Servlet
                    APIs.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Analyzed
                    and tested work flow of 4 different automated payment process frameworks.
                </span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>

            <p class=MsoBodyText>
                <b>
                    <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                        Ken
                        Wagner Web Design and Tech – Kennewick, WA                                                         Jan
                        2010-Present
                    </span>
                </b>
            </p>

            <p class=MsoBodyText>
                <i>
                    <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                        Entrepreneur/Software
                        Developer 
                    </span>
                </i>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Design
                    and develop software, databases, and applications for Android apps and
                    Websites.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Published
                    2 Android Apps on Google Play: Edison Facts and K &amp; E Get A Pumpkin.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Websites
                    (inactive, source code at GitHub): UseTheTalent.com, and Vote4Barb.com.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Current
                    App Projects: Tips by Techies, Realtor App.
                </span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText>
                <b>
                    <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                        Data
                        Analyst, IHS Inc. /Dolphin Software – Lake Oswego, OR                                         Feb
                        2007-Oct 2008
                    </span>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Performed
                    analysis, automation, normalization, cleansing, and data modeling for SDS
                    databases.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Improved
                    VB code of automated tools to double productivity and lower shipping errors by
                    85%.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Solved
                    PDF issue to reduce paper use 100,000 sheets and labor by 200+ hours per year.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Reduced
                    Schering-Plough Foreign Language Process time from 90 to 10 minutes per item.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Project:
                    British Petroleum (BP) Azerbaijan Oil Field business analysis involving 14
                    foreign languages, data cleansing and data modeling.
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in'>
                <span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'></span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText>
                <b>
                    <span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                        Web
                        Developer, Motormind Inc. Computer Services – Beaverton,
                        OR                          June 2006-Jan 2010
                    </span>
                </b>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Worked
                    freelance as PC Technician and as Web Developer and Webmaster for web sites:
                    MotormindInc.com, TriCityTripleThreat.com, and EdisonFinder.com (Websites are
                    inactive with files stored on GitHub).
                </span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

            <p class=MsoBodyText><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>EDUCATION</span></b></p>

            <p class=MsoBodyText style='margin-left:.5in'>
                <span style='font-size:11.0pt;
font-family:"Arial","sans-serif"'>&nbsp;</span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    A.A.S.
                    Degree in Computer Science, Columbia Basin College – Pasco, WA                                                                                     
                </span>
            </p>

            <p class=MsoBodyText style='margin-left:.5in;text-indent:-.25in'>
                <span style='font-size:11.0pt;font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>
                    Major
                    - Mechanical Engineering | Minor – Music, Washington State University –
                    Pullman, WA
                </span>
            </p>

            <p class=MsoBodyText><span style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></p>

        </div>

    </body>



</div>
