vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Sep 2006 08:36:33 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|Invent\\ Connect/template.html inventconnect/membership.html inventconnect/wacky.html Invent\\ Connect/business.html Invent\\ Connect/about.html Invent\\ Connect/contact.html inventconnect/links.html inventconnect/guestbook.html Invent\\ Connect/index.html Invent\\ Connect/helpers.html Invent\\ Connect/inventors.html inventconnect/guestlog.html inventconnect/formrslt.html inventconnect/success.html
vti_author:SR|OLDMOUSE\\Study
vti_modifiedby:SR|OLDMOUSE\\Study
vti_timecreated:TR|21 Sep 2006 08:36:33 -0000
vti_cacheddtm:TX|21 Sep 2006 08:36:33 -0000
vti_filesize:IR|2101
vti_lineageid:SR|{DE8E78C4-0945-48CE-BEE7-0FA93705CF59}
