vti_encoding:SR|utf8-nl
vti_author:SR|EDISON-IQ\\Study
vti_modifiedby:SR|EDISON-IQ\\Study
vti_timelastmodified:TR|29 Apr 2010 18:25:22 -0000
vti_timecreated:TR|27 Apr 2010 09:44:03 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|biography/biography.htm contact/contact.htm master.dwt achievements/achievements.htm recognition/recognition.htm photo_gallery/photo_gallery.htm Default.html
vti_nexttolasttimemodified:TW|29 Apr 2010 18:24:05 -0000
vti_cacheddtm:TX|29 Apr 2010 18:25:22 -0000
vti_filesize:IR|3043
vti_cachedlinkinfo:VX|S|layout.css S|../images/DBlueLBlue.jpg S|../images/nav_button_background.gif
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/DBlueLBlue.jpg FSUS|images/nav_button_background.gif
