vti_encoding:SR|utf8-nl
vti_author:SR|EDISON-IQ\\Study
vti_modifiedby:SR|EDISON-IQ\\Study
vti_timelastmodified:TR|28 Apr 2010 08:49:16 -0000
vti_timecreated:TR|16 Apr 2010 22:50:47 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|about_me/about_me.htm resume/resume.htm links/links.htm
vti_nexttolasttimemodified:TW|28 Apr 2010 06:59:27 -0000
vti_cacheddtm:TX|28 Apr 2010 08:49:16 -0000
vti_filesize:IR|2970
vti_cachedlinkinfo:VX|S|layout.css
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css
