<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio to demonstrate Ken Wagner web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Portfolio</title>
  
    <link rel="stylesheet" href="~/Content/w3.css" />
    

</head>
<body>

    <div class="w3-card-4">
    <header class="w3-container w3-blue">
        <h3>The first one.</h3>
        </header>
        <div class="w3-container">
            <p>The first website that I designed, built, and hosted.</p>
            <!-- use proper button format -->
            <a class="w3-btn"
a href="~/MotorMindIncComputerServices/index.html">Motormind Inc Computer Services</a>
        </div>
    </div>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
            <h3>Edison Finder</h3>
        </header>
        <div class="w3-container">
            <p>Second published site.</p>
            <!-- use proper button format -->
            <a class="w3-btn" href="~/EdisonFinder_v2/default.html">Edisonfinder.com</a>
        </div>
    </div>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
            <h3>Professional job</h3>
        </header>
        <div class="w3-container">
            <p>Someone ran for office and I made their website.</p>
            <!-- use proper button format -->
            <a class="w3-btn" href="~/Vote4Barb/Default.html">Vote 4 Barb</a>
        </div>
    </div>
    <div class="w3-card-4">
        <header class="w3-container w3-blue">
            <h3>AAU Basketball girls league.</h3>
        </header>
        <div class="w3-container">
            <p>Video and images.</p>
            <!-- use proper button format -->
            <a class="w3-btn" href="~/Tri-CityTripleThreat/default.html">Tri-City Triple Threat</a>
        </div>
    </div>

  
</body>